* {
    margin: 0;
    padding: 0;
}

/*GENERAL*/
body {
    margin: 0;
    font-family: questrial;
    font-size: 1rem;
    position: relative;
}

h1 {
    font-size: 3.5rem;
}

h4 {
    font-size: 1.8rem;
    font-weight: 900;
}

h5 {
    font-size: 1.5rem;
    font-weight: 900;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

i {
    font-size: 2.5em;
}

/*Margin top of my works and contact section*/
.scrollspyHeading {
    margin-top: 25px;
}

.container-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.icon {
    font-size: 1.4em;
    margin: 0px 20px;
    text-align: center;
}

#profileImg {
    width: 100%;
}

.mainText {
    font-size: 1.3rem;
}

.bg-gray {
    background-color: #dee8ef;
}

/*-------------------------START HEADER SECTION---------------------*/
/*Header*/

header {
    position: relative;
    background-color: white;
    width: 100vw;
    height: 100vh;
    min-height: 40rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    opacity: 1;
    top: 50%;
    left: 50%;
    width: auto;
    height: 190vh;
    z-index: -1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 1;
    z-index: 100;
}

#title-overlay-home {
    text-shadow: 2px 1px 10px rgba(0, 0, 0, 1);
    width: 100%;
    line-height: 1.4;
    letter-spacing: 0.1rem;
}

#subtitle-overlay-home {
    background-color: #4CAF50;
    font-size: 2.5rem;
    width: fit-content;
}

.txt-rotate {
    font-size: 2.5rem;
    display: inline-block;
}

.colContainer {
    padding: 16px;
}

.iconalinkedin, .iconagit {
    color: white;
}

.iconagit:hover {
    color: gray;
}

.iconalinkedin:hover {
    color: #2196F3;
}

#space-between-socialicon {
    height: 2rem;
}

/*Navbar*/
.togglericonca {
    color: #2196F3;
    font-size: 28px;
    text-shadow: none;
}

.nav-link {
    text-shadow: 1px 1px 10px black;
}

.nav-pills .nav-link.active {
    background-color: #2196F3;
    text-shadow: none;
}

.backgroundColorNav {
    background-image: url('../img/sfondonavbar.gif');
    background-size: cover;
    z-index: 10;
}

.logomp {
    width: 130px;
    padding: 10px;
}

#call-to-action {
    background-color: #4CAF50;
    color: white;
}

#call-to-action:hover {
    background-color: #8BC34A;
}

/*Margin-top & padding hero section overlay*/
.rowOverlay {
    margin-top: 300px;
    padding: 16px;
}

/*-------------------------START FOOTER SECTION---------------------*/
.btn-primary {
    background: #2196F3;
}

.bg-footer {
    height: 200px;
    background-color: white;
}

.fa-phone, .fa-envelope {
    color: black;
}

.blackText {
    color: black;
}

/*-------------------------START MEDIA QUERY---------------------*/
/********** Medium devices only **********/
@media (min-width: 1500px) {
    header {
        position: relative;
        background-color: white;
        height: 100vh;
        min-height: 40rem;
        width: 100vw;
        overflow: hidden;
    }

    header video {
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        width: auto;
        height: 230vh;
        z-index: -1;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    #container-call {
        text-align: center;
    }

    body {
        font-size: 16.5px;
    }

    header {
        position: relative;
        background-color: white;
        height: 100vh;
        max-height: 900px;
        min-height: 40rem;
        width: 100%;
        overflow: hidden;
    }

    header video {
        position: absolute;
        opacity: 1;
        top: 50%;
        left: 50%;
        width: auto;
        height: 170vh;
        z-index: -1;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

}

/********** Mobile only **********/
@media (max-width: 767px) {
    header video {
        min-width: 350%;
    }

    #container-call {
        text-align: center;
    }

    header {
        position: relative;
        background-color: white;
        height: 100vh;
        max-height: 900px;
        min-height: 40rem;
        width: 100%;
        overflow: hidden;
    }

    header video {
        position: absolute;
        opacity: 1;
        top: 38%;
        left: 50%;
        width: auto;
        height: 150vh;
        z-index: -1;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    #title-overlay-home {
        text-shadow: 2px 1px 10px rgba(0, 0, 0, 1);
        width: 100%;
        line-height: 1;
        letter-spacing: 0.1rem;
        font-size: 2.5rem;
    }

    #subtitle-overlay-home {
        background-color: #4CAF50;
        font-size: 2rem;
        width: fit-content;
    }

    .txt-rotate {
        font-size: 2rem;
        display: inline-block;
    }
}

/********** Mobile only **********/
@media (max-width: 415px) {
    header video {
        min-width: 350%;
    }

    #container-call {
        text-align: center;
    }

    header {
        position: relative;
        background-color: black;
        height: 100vh;
        max-height: 900px;
        min-height: 40rem;
        width: 100%;
        overflow: hidden;
    }

    header video {
        position: absolute;
        opacity: 1;
        top: 38%;
        left: 50%;
        width: auto;
        height: 150vh;
        z-index: -1;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    #title-overlay-home {
        text-shadow: 2px 1px 10px rgba(0, 0, 0, 1);
        width: 100%;
        line-height: 1;
        letter-spacing: 0.1rem;
        font-size: 2.2rem;
    }

    #subtitle-overlay-home {
        background-color: #4CAF50;
        font-size: 1.35rem;
        width: fit-content;
    }

    .txt-rotate {
        font-size: 1.4rem;
        display: inline-block;
    }
}